<html lang='en'></html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Notification</title>
  </head>
  <body>
    <div class='container'>
      <h2>Bonjour {{ user.name }},</h2>
      <p>
        Vous avez recu une notification de la plateforme CINOLU ! Pour consulter votre notification, veuillez cliquer sur
        le lien ci-dessous :
      </p>
      <a href='{{link}}'>Mon cmpte</a>
      <p>Merci,<br /> L'équipe CINOLU.</p>
    </div>
  </body>
</html>